<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.caelum.cadastro2">


    <uses-permission android:name="android.permission.CALL_PHONE"  />

    <uses-permission android:name="android.permission.RECEIVE_SMS"  />





    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.Light">


        <activity android:name=".ListaAlunosActivyt">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        
     <activity android:name=".FormularioActivyt" >
        </activity>activity>

        <receiver android:name=".SMSReceiver"   android:enabled="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
